# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# TensorFlow / Keras
*.h5
*.ckpt
*.pb
*.tflite
*.lite
*.tgz
logs/
model_data/

# Experiment outputs
experiments/
results/
trained_models/
outputs/
evaluation_results/

# Data files - avoid storing data in Git
data/
datasets/
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.dcm

# OS specific
.DS_Store
Thumbs.db